<div nz-row [nzGutter]="24" class="pt-lg">
    <div nz-col nzXs="24" nzSm="12" nzMd="24" class="mb-md">
        <nz-card [nzBordered]="false" [nzTitle]="title">
            <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
                <se label="供应商名称" error="请输入名称，大于两个字符" required>
                    <input nz-input formControlName="sname" placeholder="请输入供应商名称" />
                </se>
                <se label="联系人" error="请输入联系人，大于两个字符">
                    <input nz-input formControlName="contact" placeholder="请输入联系人" />
                </se>
                <se label="联系方式" error="请输入联系方式，大于两个字符">
                    <input nz-input formControlName="contact_info" placeholder="请输入联系方式" />
                </se>
                <se label="开票信息" error="请输入开票信息，大于两个字符">
                    <input nz-input formControlName="invoice" placeholder="请输入开票信息" />
                </se>
                <se label="描述">
                    <textarea rows="4" nz-input formControlName="comments" placeholder="请输入描述"></textarea>
                </se>
                <se>
                    <button nz-button nzType="primary" [disabled]="form.invalid" type="submit"
                        [nzLoading]="submitting">提交</button>
                    <button nz-button class="ml-sm" type="reset">重置</button>
                </se>
            </form>
        </nz-card>
    </div>
</div>