<page-header [title]="'合同管理'">
</page-header>
<div nz-row [nzGutter]="24" class="pt-lg">
    <div nz-col nzXs="24" nzSm="12" nzMd="24" class="mb-md">
        <nz-card [nzBordered]="false" [nzTitle]="title">
            <form nz-form [formGroup]="form" (ngSubmit)="submit()" [nzLayout]="'vertical'">
                <nz-card [nzBordered]="false" nzTitle="仓库管理">
                    <nz-row nzGutter="16">
                        <nz-col nzLg="6" nzMd="12" nzSm="24">
                            <nz-form-item>
                                <nz-form-label nzFor="name">合同编号</nz-form-label>
                                <nz-form-control nzErrorTip="请输入合同编号，大于两个字符" required>
                                    <input nz-input formControlName="cno" placeholder="请输入合同编号" />
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                        <nz-col nzLg="6" nzMd="12" nzSm="24">
                            <nz-form-item>
                                <nz-form-label>合同名称</nz-form-label>
                                <nz-form-control nzErrorTip="请输入合同名称，大于两个字符" required>
                                    <input nz-input formControlName="cname" placeholder="请输入合同名称" />
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                        <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
                            <nz-form-item>
                                <nz-form-label>项目类型</nz-form-label>
                                <nz-form-control nzErrorTip="请选择项目类型" required>
                                    <nz-select formControlName="project_id" placeholder="请选择项目类型"
                                        [(ngModel)]="selectedOption" [nzPlaceHolder]="myPlaceHolder" nzAllowClear
                                        [nzShowSearch]="true" [nzNotFoundContent]="'无匹配'">
                                        <nz-option *ngFor="let option of project_data" [nzLabel]="option.pname"
                                            [nzValue]="option.id" [nzDisabled]="option.disabled">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                    </nz-row>
                </nz-card>

                <!-- 
                    <se label="甲方" error="请输入甲方，大于两个字符" required> 
                    <input nz-input formControlName="party_a" placeholder="请输入甲方" />
                </se>
                <se label="乙方" error="请输入乙方，大于两个字符" required>
                    <input nz-input formControlName="party_b" placeholder="请输入乙方" />
                </se>

                <se label="签订日期" error="请选择签订日期" required>
                    <nz-date-picker formControlName="sign_date"></nz-date-picker>
                </se>

                <se label="终止日期" error="请选择终止日期" required>
                    <nz-date-picker formControlName="expiry_date"></nz-date-picker>
                </se>
                <se label="合同额" error="请输入合同额，大于两个字符" required>
                    <input nz-input formControlName="amount" placeholder="请输入合同额" />
                </se>

                <se label="描述">
                    <textarea rows="4" nz-input formControlName="comments" placeholder="请输入描述"></textarea>
                </se>
                <se>
                    <button nz-button nzType="primary" [disabled]="form.invalid" type="submit"
                        [nzLoading]="submitting">提交</button>
                    <button nz-button class="ml-sm" type="reset">重置</button>
                </se>
                -->
            </form>
        </nz-card>
    </div>
</div>