<div nz-row [nzGutter]="24" class="pt-lg">
  <div nz-col nzXs="24" nzSm="12" nzMd="24" class="mb-md">
    <nz-card [nzBordered]="false" [nzTitle]="title">
      <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="8" nzSm="24">
            <nz-form-item>
              <nz-form-label nzFor="no">名称</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="q.name" name="name" placeholder="输入名称搜索" id="name" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
            <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
            <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
          </div>
        </div>
      </form>
      <div class="mb-md">
        <button nz-button (click)="add()" [nzType]="'primary'">
          <i nz-icon nzType="plus"></i>
          <span>新建</span>
        </button>
      </div>

      <nz-table #nzTable [nzData]="data" [nzTotal]="total" [nzPageSize]="q.ps" [nzLoading]="loading"
        (nzPageIndexChange)="pageChange($event)" nzShowSizeChanger>
        <thead nz-thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr>
            <th nzShowExpand></th>
            <th nz-th nzShowSort nzSortKey="no">
              <span>客商编码</span>
            </th>
            <th nz-th nzShowSort nzSortKey="name">
              <span>公司名称</span>
            </th>
            <th nz-th nzShowSort nzSortKey="category">
              <span>客商类型</span>
            </th>
            <th nz-th>
              <span>详细信息</span>
            </th>
            <th nz-th>
              <span>操作</span>
            </th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <ng-container *ngFor="let i of nzTable.data">
            <tr nz-tbody-tr>
              <td nzShowExpand [(nzExpand)]="i.expand"></td>
              <td nz-td>{{i.no}}</td>
              <td nz-td>{{i.name}}</td>
              <td nz-td>{{i.category}}</td>
              <td nz-td>
                <button nz-button [nzType]="'primary'" (click)="showModal(i)"><span>更多信息</span></button>
                <nz-modal [(nzVisible)]="i.isVisible" nzTitle="{{i.name}}" (nzOnOk)="handleOk(i)"
                  (nzOnCancel)="handleCancel(i)" nzWidth=1040>
                  <nz-descriptions nzBordered>
                    <nz-descriptions-item nzTitle="客商编码">{{i.no}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="公司名称">{{i.name}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="客商类型">{{i.category}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="法定代表人">{{i.legal_representative}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="注册地址">{{i.registered_address}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="注册资金（万元）">{{i.registered_capital}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="经营范围">{{i.business_scope}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="所属行业">{{i.industry_involved}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="与祥云开展业务">{{i.project}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="注册所在地">{{i.registered_place}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="证件类型">{{i.id_type}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="三证合一证件号码">{{i.certificate_no}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="组织机构代码证号码">{{i.organization_no}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="营业执照注册号码">{{i.business_license_no}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="税务登记证号码">{{i.tax_no}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="纳税人类型">{{i.taxpayer_type}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="开票抬头">{{i.invoice_title}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="纳税人识别号">{{i.taxpayer_no}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="地址">{{i.address}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="电话">{{i.telephone}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="开户银行名称">{{i.bank_name}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="开户银行账号">{{i.bank_account}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="收款银行名称">{{i.receiving_bank_name}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="收款银行账号">{{i.receiving_bank_account}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="汇款银行名称">{{i.remittance_bank_name}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="汇款银行账号">{{i.remittance_bank_account}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="客商评价">{{i.comments}}</nz-descriptions-item>
                  </nz-descriptions>
                </nz-modal>
              </td>
              <td nz-td>
                <a (click)="modify(i.id)">修改</a>
                <span nz-table-divider></span>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="remove(i)">删除</a>
              </td>
            </tr>

            <tr [nzExpand]="i.expand">
              <td></td>
              <td colspan="12" style="background-color: #eee;">
                <nz-table #innerTable [nzData]="i.details" nzSize="middle" [nzShowPagination]="false">
                  <thead>
                    <tr>
                      <th>联系人姓名</th>
                      <th>手机</th>
                      <th>邮箱</th>
                      <th>QQ</th>
                      <th>微信</th>
                      <th>职位</th>
                      <th>角色</th>
                      <th>评价</th>
                    </tr>
                  </thead>
        <tbody>
          <tr *ngFor="let data of innerTable.data">
            <td>{{ data.contact }}</td>
            <td>{{ data.mobile }}</td>
            <td>{{ data.mail }}</td>
            <td>{{ data.qq }}</td>
            <td>{{ data.wechat }}</td>
            <td>{{ data.position }}</td>
            <td>{{ data.character }}</td>
            <td>{{ data.comments }}</td>
          </tr>
        </tbody>
      </nz-table>
      </td>
      </tr>
      </ng-container>
      </tbody>
      </nz-table>
    </nz-card>
  </div>
</div>