<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.png" />
        <span class="title">祥云科技合同管理系统</span>
      </div>
      <div class="desc">合同、项目、供应商、资源信息管理</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i> 2019 <a href="//github.com/cipchk" target="_blank">安徽祥云科技有限公司</a>
    </global-footer>
  </div>
</div>