<page-header>
  <button nz-button class="ml-sm" type="return" (click)="goBack()">返回</button>
</page-header>
<div nz-row [nzGutter]="24" class="pt-lg">
  <div nz-col nzXs="24" nzSm="12" nzMd="24" class="mb-md">
    <nz-card [nzBordered]="false">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
        <nz-card [nzBordered]="false" nzTitle="客商管理">
          <se label="客商编码" error="请输入名称，大于两个字符">
            <input nz-input formControlName="no" placeholder="请输入客商名称" />
          </se>
          <se label="公司名称" error="请输入公司名称，大于两个字符" required>
            <input nz-input formControlName="name" placeholder="请输入公司名称" />
          </se>
          <se label="客商类型" error="请输入客商类型，大于两个字符" required>
            <nz-form-control>
              <nz-select formControlName="category" nzAllowClear nzPlaceHolder="选择客商类型" [nzShowSearch]="true"
                [nzNotFoundContent]="'无匹配'">
                <nz-option *ngFor="let option of optionList1" [nzValue]="option.type" [nzLabel]="option.type"
                  [nzDisabled]="option.disabled">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </se>
          <se label="法定代表人" error="请输入法定代表人，大于两个字符" required>
            <input nz-input formControlName="legal_representative" placeholder="请输入法定代表人" />
          </se>
          <se label="注册地址" error="请输入注册地址，大于两个字符" required>
            <input nz-input formControlName="registered_address" placeholder="请输入注册地址" />
          </se>
          <se label="注册资金(万元)" error="请输入注册资金(万元)，大于两个字符" required>
            <input nz-input formControlName="registered_capital" placeholder="请输入注册资金(万元)" />
          </se>
          <se label="经营范围" error="请输入经营范围，大于两个字符" required>
            <input nz-input formControlName="business_scope" placeholder="请输入经营范围" />
          </se>
          <se label="所属行业" error="请输入所属行业，大于两个字符">
            <input nz-input formControlName="industry_involved" placeholder="请输入所属行业" />
          </se>
          <se label="与祥云开展业务" error="请输入与祥云开展业务，大于两个字符" required>
            <input nz-input formControlName="project" placeholder="请输入与祥云开展业务" />
          </se>
          <se label="注册所在地" error="请输入注册所在地，大于两个字符" required>
            <input nz-input formControlName="registered_place" placeholder="请输入注册所在地" />
          </se>
          <se label="证件类型" error="请输入证件类型，大于两个字符" required>
            <input nz-input formControlName="id_type" placeholder="请输入证件类型" />
          </se>
          <se label="三证合一证件号码" error="请输入三证合一证件号码，大于两个字符" required>
            <input nz-input formControlName="certificate_no" placeholder="请输入三证合一证件号码" />
          </se>
          <se label="组织机构代码证号码" error="请输入组织机构代码证号码，大于两个字符" required>
            <input nz-input formControlName="organization_no" placeholder="请输入组织机构代码证号码" />
          </se>
          <se label="营业执照注册号码" error="请输入营业执照注册号码，大于两个字符" required>
            <input nz-input formControlName="business_license_no" placeholder="请输入营业执照注册号码" />
          </se>
          <se label="税务登记证号码" error="请输入税务登记证号码，大于两个字符" required>
            <input nz-input formControlName="tax_no" placeholder="请输入税务登记证号码" />
          </se>
          <se label="纳税人类型" error="请输入纳税人类型，大于两个字符" required>
            <input nz-input formControlName="taxpayer_type" placeholder="请输入纳税人类型" />
          </se>
          <se label="开票抬头" error="请输入开票抬头，大于两个字符" required>
            <input nz-input formControlName="invoice_title" placeholder="请输入开票抬头" />
          </se>
          <se label="纳税人识别号" error="请输入纳税人识别号，大于两个字符" required>
            <input nz-input formControlName="taxpayer_no" placeholder="请输入纳税人识别号" />
          </se>
          <se label="地址" error="请输入地址，大于两个字符" required>
            <input nz-input formControlName="address" placeholder="请输入地址" />
          </se>
          <se label="电话" error="请输入电话，大于两个字符" required>
            <input nz-input formControlName="telephone" placeholder="请输入电话" />
          </se>
          <se label="开户银行名称" error="请输入开户银行名称，大于两个字符" required>
            <input nz-input formControlName="bank_name" placeholder="请输入开户银行名称" />
          </se>
          <se label="开户银行账号" error="请输入开户银行账号，大于两个字符" required>
            <input nz-input formControlName="bank_account" placeholder="请输入开户银行账号" />
          </se>
          <se label="收款银行名称" error="请输入收款银行名称，大于两个字符" required>
            <input nz-input formControlName="receiving_bank_name" placeholder="请输入收款银行名称" />
          </se>
          <se label="收款银行账号" error="请输入收款银行账号，大于两个字符" required>
            <input nz-input formControlName="receiving_bank_account" placeholder="请输入收款银行账号" />
          </se>
          <se label="汇款银行名称" error="请输入汇款银行名称，大于两个字符" required>
            <input nz-input formControlName="remittance_bank_name" placeholder="请输入汇款银行名称" />
          </se>
          <se label="汇款银行账号" error="请输入汇款银行账号，大于两个字符" required>
            <input nz-input formControlName="remittance_bank_account" placeholder="请输入汇款银行账号" />
          </se>
          <se label="客商评价" error="请输入客商评价，大于两个字符" required>
            <textarea rows="4" nz-input formControlName="comments" placeholder="请输入客商评价"></textarea>
          </se>
        </nz-card>
        <!-- 联系人子表 -->
        <nz-card [nzBordered]="false" nzTitle="联系人子表">
          <nz-table formArrayName="client_details" [nzData]="client_details.value" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>姓名</th>
                <th>手机</th>
                <th>电子邮箱</th>
                <th>QQ</th>
                <th>微信</th>
                <th>职务</th>
                <th>角色</th>
                <th>评价</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of client_details.controls; let i = index" [formGroupName]="i">
                <td>
                  <span *ngIf="editIndex !== i">{{ client_details.value[i].contact }}</span>
                  <span *ngIf="editIndex === i" nz-form-control nzErrorTip="请输入姓名">
                    <input nz-input formControlName="contact" placeholder="请输入姓名" />
                  </span>
                </td>
                <td>
                  <span *ngIf="editIndex !== i">{{ client_details.value[i].mobile }}</span>
                  <span *ngIf="editIndex === i" nz-form-control nzErrorTip="请输入手机号">
                    <input nz-input formControlName="mobile" placeholder="手机号" />
                  </span>
                </td>
                <td>
                  <span *ngIf="editIndex !== i">{{ client_details.value[i].mail }}</span>
                  <span *ngIf="editIndex === i" nz-form-control nzErrorTip="请输入邮箱">
                    <input nz-input formControlName="mail" placeholder="请输入邮箱" />
                  </span>
                </td>
                <td>
                  <span *ngIf="editIndex !== i">{{ client_details.value[i].qq }}</span>
                  <span *ngIf="editIndex === i" nz-form-control nzErrorTip="请输入qq">
                    <input nz-input formControlName="qq" placeholder="请输入qq" />
                  </span>
                </td>
                <td>
                  <span *ngIf="editIndex !== i">{{ client_details.value[i].wechat }}</span>
                  <span *ngIf="editIndex === i" nz-form-control nzErrorTip="请输入微信">
                    <input nz-input formControlName="wechat" placeholder="请输入微信" />
                  </span>
                </td>
                <td>
                  <span *ngIf="editIndex !== i">{{ client_details.value[i].position }}</span>
                  <span *ngIf="editIndex === i" nz-form-control nzErrorTip="请输入职务">
                    <input nz-input formControlName="position" placeholder="请输入职务" />
                  </span>
                </td>
                <td>
                  <span *ngIf="editIndex !== i">{{ client_details.value[i].character }}</span>
                  <span *ngIf="editIndex === i" nz-form-control nzErrorTip="请选择角色">
                    <nz-form-item>
                      <nz-form-label>角色</nz-form-label>
                      <nz-form-control>
                        <nz-select formControlName="character" nzAllowClear nzPlaceHolder="请选择角色" [nzShowSearch]="true"
                          [nzNotFoundContent]="'无匹配'">
                          <nz-option *ngFor="let option of optionList2" [nzValue]="option.type" [nzLabel]="option.type"
                            [nzDisabled]="option.disabled">
                          </nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </span>
                </td>
                <td>
                  <span *ngIf="editIndex !== i">{{ client_details.value[i].comments }}</span>
                  <span *ngIf="editIndex === i" nz-form-control nzErrorTip="请输入评价">
                    <textarea rows="4" nz-input formControlName="comments" placeholder="请输入评价"></textarea>
                  </span>
                </td>
                <td>
                  <span *ngIf="editIndex !== i">
                    <a (click)="edit(i)">编辑</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <nz-popconfirm (nzOnConfirm)="del(i)" [nzTitle]="'是否要删除此行？'">
                      <a nz-popconfirm>删除</a>
                    </nz-popconfirm>
                  </span>
                  <span *ngIf="editIndex === i">
                    <a (click)="save(i)">保存</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <nz-popconfirm (nzOnConfirm)="cancel(i)" [nzTitle]="'是否要取消操作？'">
                      <a nz-popconfirm>取消</a>
                    </nz-popconfirm>
                  </span>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <button *ngIf="editIndex === -1" nz-button [nzType]="'dashed'" (click)="add()" nzBlock class="mt-md">
            <i nz-icon nzType="plus"></i>
            <span>新增联系人</span>
          </button>
        </nz-card>

        <footer-toolbar errorCollect>
          <button nz-button class="ml-sm" type="reset">重置</button>
          <button nz-button type="submit" nzType="primary" [disabled]="form.invalid"
            [nzLoading]="submitting">提交</button>
        </footer-toolbar>




      </form>
    </nz-card>
  </div>
</div>