<div nz-row [nzGutter]="24" class="pt-lg">
  <div nz-col nzXs="24" nzSm="12" nzMd="24" class="mb-md">
    <nz-card [nzBordered]="false" [nzTitle]="title">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">

        <se label="原密码" error="请输入不少于6位字符的原密码" required>
          <input nz-input type="password" formControlName="password" placeholder="请输入原密码" />
        </se>
        <se label="新密码" error="请输入不少于6位字符的新密码" required>
          <input nz-input type="password" formControlName="newPassword" placeholder="请输入新密码" />
        </se>
        <se label="确认新密码" error="确认新密码错误" required>
          <input nz-input type="password" formControlName="verifyNewPassword" placeholder="请确认信密码" />
        </se>


        <se>
          <button nz-button nzType="primary" [disabled]="form.invalid" type="submit"
            [nzLoading]="submitting">提交</button>
          <button nz-button class="ml-sm" type="reset">重置</button>
        </se>
      </form>
    </nz-card>
  </div>
</div>