<div nz-row [nzGutter]="24" class="pt-lg">
  <div nz-col nzXs="24" nzSm="12" nzMd="24" class="mb-md">
    <nz-card [nzBordered]="false" [nzTitle]="title">
      <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }" nzGutter="16">

          <div nz-col [nzSpan]="12" class="mb-md">
            <nz-form-item class="d-flex">
              <nz-form-label nzFor="no">按月查询应收</nz-form-label>
              <nz-form-control [nzValidateStatus]="'sign_date'" class="flex-1">
                <nz-month-picker style="width: 40%;" (ngModelChange)="q.startDate=$event;" [ngModel]="q.startDate"
                  name="sign_date" [nzFormat]="'YYYY-MM'" [nzPlaceHolder]="'Start Month'"></nz-month-picker>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="12" [class.text-left]="expandForm" class="mb-md">
            <button nz-button type="submit" (click)="search()" [nzType]="'primary'" [nzLoading]="loading">查询</button>
            <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
          </div>
        </div>
      </form>

      <nz-table #nzTable [nzData]="data" [nzTotal]="total" [nzPageSize]="q.ps" [nzLoading]="loading"
        (nzPageIndexChange)="pageChange($event)" nzShowSizeChanger>
        <thead nz-thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr>
            <th nz-th nzShowSort nzSortKey="sign_date">
              <span>签订日期</span>
            </th>
            <th nz-th nzShowSort nzSortKey="amount">
              <span>合同额</span>
            </th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let i of nzTable.data">
            <td nz-td>{{i.sign_date}}</td>
            <td nz-td>{{i.amount}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
</div>
